<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zipper.auto.api">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data android:name="Plugin_AutoApi"
            android:value="com.zipper.auto.api.PluginAutoApi"/>
    </application>

</manifest>